@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v19-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v19-latin-700.woff2") format("woff2");
}
:root {
  --color-primary-light: #fff;
  --color-brand: #2b7fff;
  --color-primary-dark: #011c44;
}
/* Base */
ul {
  list-style-type: none;
}
body {
  color: var(--color-primary-dark);
  font-family: Roboto, sans-serif;
  font-weight: 400;
}
/* Link */
.link {
  color: var(--color-primary-dark);
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
}
.link:hover {
  color: var(--color-brand);
  font-weight: 700;
  font-family: Roboto, sans-serif;
}
/* Hero section */
.pre-title-text {
  font-size: 18px;
}
.hero-title {
  font-family: Play, sans-serif;
  font-size: 140px;
  font-weight: 700;
  color: var(--color-brand);
}
/* Button */
.button {
  border-radius: 32px;
  background-color: var(--color-brand);
  color: var(--color-primary-light);
  cursor: pointer;
  font-size: 18px;
  border: none;
  font-weight: 600;
}
.button:hover {
  border-radius: 32px;
  border: 2px solid #2b7fff;
  color: var(--color-primary-dark);
  background-color: transparent;
}
.bottom-text {
  color: #4a4a4a;
  font-size: 12px;
}

/* Description section */
.section-title {
  font-family: Play, sans-serif;
  font-size: 64px;
  font-weight: 700;
}
.section-title .accent {
  color: var(--color-brand);
}
.description-text {
  font-size: 22px;
}
.description-text .brand {
  text-transform: capitalize;
  font-weight: 600;
}
/* Recommendation section */
.recommendations-list {
  color: #000;
  text-align: center;
  font-size: 18px;
}
.service-list {
  color: var(--color-primary-light);
  text-align: center;
  font-size: 22px;
}
.footer-link {
  font-size: 16px;
  color: var(--color-primary-light);
  text-decoration: none;
}
.address {
  font-size: 16px;
  color: var(--color-primary-light);
  text-decoration: none;
}
.copyright {
  color: #747272;
  font-size: 13px;
}
